html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

aside a.active {
    background-color: #4B5563; /* tailwind's gray-700 */
}

.input {
  padding: 0.5rem; /* p-2 */
  border-radius: 0.375rem; /* rounded */
  border: 1px solid #ccc; /* border */
  width: 100%; /* w-full */
  background-color: #374151; /* dark:bg-gray-700 */
  color: #fff; /* dark:text-white */
}
